<template>
  <q-page class="q-pa-lg">
    <h4 class="q-mt-none q-mb-md text-weight-bold">About</h4>
    <div class="text-body1">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, optio
        atque suscipit consequatur ut debitis architecto amet, tempora quibusdam
        molestias, tenetur illo aliquam. Quibusdam distinctio, est accusantium
        repellendus at possimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, optio
        atque suscipit consequatur ut debitis architecto amet, tempora quibusdam
        molestias, tenetur illo aliquam. Quibusdam distinctio, est accusantium
        repellendus at possimus.
      </p>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "PageAbout",
});
</script>
