<template>
  <q-page class="relative-position">
    <q-scroll-area class="absolute full-width full-height">
      <div class="q-py-lg q-px-md row items-end q-col-gutter-md">
        <div class="col">
          <q-input
            bottom-slots
            v-model="newQweetContent"
            class="new-qweet"
            placeholder="What's happening"
            counter
            maxlength="280"
            autogrow
          >
            <template v-slot:before>
              <q-avatar size="lg">
                <img src="https://cdn.quasar.dev/img/avatar5.jpg" />
              </q-avatar>
            </template>
          </q-input>
        </div>
        <div class="col col-shrink">
          <q-btn
            @click="addNewQweet"
            :disable="!newQweetContent"
            class="q-mb-lg"
            unelevated
            rounded
            color="primary"
            label="Qweet"
            no-caps
          />
        </div>
      </div>
      <q-separator class="divider" size="10px" color="grey-1" />

      <q-list separator>
        <!-- Qweet Lists -->
        <transition-group
          appear
          enter-active-class="animated fadeIn slow"
          leave-active-class="animated fadeOut slow"
        >
          <q-item v-for="qweet in qweets" :key="qweet.id" class="q-py-md">
            <q-item-section avatar top>
              <q-avatar size="lg">
                <img src="https://cdn.quasar.dev/img/avatar5.jpg" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-subtitle1">
                <strong>muftialroaz</strong>
                <span class="text-grey-7">
                  @muftialroaz <br class="lt-md" />
                  &bull; {{ relativeDate(qweet.date) }}
                </span>
              </q-item-label>
              <q-item-label class="qweet-content text-body1">
                {{ qweet.content }}
              </q-item-label>

              <div class="qweet-icons row justify-between">
                <q-btn
                  flat
                  round
                  size="sm"
                  color="grey"
                  icon="far fa-comment"
                />
                <q-btn
                  flat
                  round
                  size="sm"
                  color="grey"
                  icon="fas fa-retweet"
                />
                <q-btn
                  @click="toggleLiked(qweet)"
                  flat
                  round
                  size="sm"
                  :color="qweet.liked ? 'pink' : 'grey'"
                  :icon="qweet.liked ? 'fas fa-heart' : 'far fa-heart'"
                />
                <q-btn
                  @click="deleteQweet(qweet)"
                  flat
                  round
                  size="sm"
                  color="grey"
                  icon="fas fa-trash"
                />
              </div>
            </q-item-section>
          </q-item>
        </transition-group>
      </q-list>
    </q-scroll-area>
  </q-page>
</template>

<script>
import db from "src/boot/firebase";
import { formatDistance } from "date-fns";
import {
  collection,
  query,
  orderBy,
  onSnapshot,
  addDoc,
  doc,
  deleteDoc,
  updateDoc,
} from "firebase/firestore";

export default {
  name: "PageHome",
  data() {
    return {
      newQweetContent: "",
      qweets: [
        // {
        //   id: "ID1",
        //   content:
        //     "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio consequuntur libero est, laboriosam quo distinctio dolores, dictdelectus, mollitia nemo vero magni neque vel blanditiis suscipi",
        //   date: 1632723862587,
        //   liked: false,
        // },
        // {
        //   id: "ID2",
        //   content: "Lorem ipsum dolor sit,",
        //   date: 1632722213663,
        //   liked: true,
        // },
      ],
    };
  },
  methods: {
    relativeDate(value) {
      return formatDistance(value, new Date());
    },
    addNewQweet() {
      let newQweet = {
        content: this.newQweetContent,
        date: Date.now(),
        liked: false,
      };
      // this.qweets.unshift(newQweet);
      const docRef = addDoc(collection(db, "qweets"), newQweet);
      console.log("Document written with ID: ", docRef.id);
      this.newQweetContent = "";
    },
    deleteQweet(qweet) {
      deleteDoc(doc(db, "qweets", qweet.id));
    },
    toggleLiked(qweet) {
      const washingtonRef = doc(db, "qweets", qweet.id);

      // Set the "capital" field of the city 'DC'
      updateDoc(washingtonRef, {
        liked: !qweet.liked,
      });
    },
  },
  mounted() {
    const q = query(collection(db, "qweets"), orderBy("date"));
    const unsubscribe = onSnapshot(q, (snapshot) => {
      snapshot.docChanges().forEach((change) => {
        let changeQweet = change.doc.data();
        changeQweet.id = change.doc.id;
        if (change.type === "added") {
          console.log("New qweet: ", changeQweet);
          this.qweets.unshift(changeQweet);
          let index = this.qweets.findIndex(
            (qweet) => qweet.id === changeQweet.id
          );
          Object.assign(this.qweets[index], changeQweet);
        }
        if (change.type === "modified") {
          console.log("Modified qweet: ", changeQweet);
        }
        if (change.type === "removed") {
          console.log("Removed qweet: ", changeQweet);
          let index = this.qweets.findIndex(
            (qweet) => qweet.id === changeQweet.id
          );
          this.qweets.splice(index, 1);
        }
      });
    });
  },
};
</script>

<style lang="sass">
.new-qweet
  textarea
    font-size: 19px
    line-height: 1.4 !important

.divider
  border-top: 1px solid
  border-bottom: 1px solid
  border-color: $grey-4

.qweet-content
  white-space: pre-line

.qweet-icons
  margin-left: -5px
</style>
